i*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #fff;
    width: 58%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding-bottom: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    outline-style: solid;
}
.timer-display{
    /* position: relative; */
    width: 90%;
    background: #2bc3c9;
    font-family: 'Poppins', sans-serif;
    font-size:  30px;
    /* left: 10%; */
    /* padding: 40px; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 90%;
    margin:  60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 120px;
    height: 50px;
    background-color: #ebd03b;
    color: black;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size:  18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
}

.buttons button:nth-last-child(2){
    background-color: #b9c441;
}

.buttons button:nth-last-child(1){
    background-color: #64b021;
}

.buttons button:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}














